# App
NODE_ENV=development
NUXT_PUBLIC_APP_NAME=Babyfoot Tournament Manager
JWT_SECRET=change-me-super-secret

# PostgreSQL
POSTGRES_DB=babyfoot
POSTGRES_USER=babyfoot
POSTGRES_PASSWORD=babyfoot
POSTGRES_PORT=5432

# Prisma / API
DATABASE_URL=postgresql://babyfoot:babyfoot@db:5432/babyfoot?schema=public
